Repository alan-turing-institute/rctab-infrastructure: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, pyright, pydocstyle, pymarkdown

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: 'https://github.com/gitleaks/gitleaks'
    rev: v8.16.1
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: poetry run black
        language: system
        types:
          - python
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types:
          - python
      - id: safety
        name: Safety
        entry: poetry run safety check --full-report
        pass_filenames: false
        language: system
      - id: pylint
        name: Pylint
        entry: poetry run pylint --rcfile=.python-lint
        language: system
        types:
          - python
        exclude: 'docs/.*'
      - id: pyright
        name: pyright
        entry: poetry run pyright
        language: system
        types:
          - python
        exclude: 'docs/.*'
      - id: pydocstyle
        name: pydocstyle
        entry: poetry run pydocstyle --convention=google
        language: system
        types:
          - python
      - id: pymarkdown
        name: PyMarkdown
        entry: poetry run pymarkdown --strict-config --config .pymarkdown.json scan
        language: system
        types: ['markdown']

WIP Adding IP restrictions
  rctab_infrastructure/webapp.py
Due: black, isort, pylint, pyright, pydocstyle

Minor improvements
  docs/content/deployment.md
Due: pymarkdown

Change GitHub .md links to readthedocs links
  docs/content/deployment.md
Due: pymarkdown

Single quote all strings to avoid unexpected shell interpretation
  docs/content/deployment.md
Due: pymarkdown

Add instructions for minimal acceptable config
  docs/content/deployment.md
Due: pymarkdown

Fix small typos
  docs/content/deployment.md
  docs/index.rst
Due: pymarkdown

add env var to set expiry email freq
  docs/content/deployment.md
  pyproject.toml
  rctab_infrastructure/constants.py
  rctab_infrastructure/utils.py
  rctab_infrastructure/webapp.py
  tests/test_utils.py
Due: black, isort, pylint, pyright, pydocstyle, pymarkdown

bug fix, dependency updates.
  .pre-commit-config.yaml
  .safety-policy.yml
  docs/conf.py
  poetry.lock
  pyproject.toml
  rctab_infrastructure/__main__.py
  rctab_infrastructure/api.py
  rctab_infrastructure/constants.py
  rctab_infrastructure/database.py
  rctab_infrastructure/function_apps.py
  rctab_infrastructure/keyvault.py
  rctab_infrastructure/rctab_logging.py
  rctab_infrastructure/utils.py
  rctab_infrastructure/webapp.py
  tests/test_utils.py
Due: black, isort, pylint, pyright, pydocstyle

Changes to be committed: modified: .github/workflows/pre-commit.yml
  .github/workflows/pre-commit.yml
Due: none

UPDATED .github/workflows/pre-commit.yml
  .github/workflows/pre-commit.yml
Due: none

Format expiry email freq as json list
  .python-lint
  rctab_infrastructure/constants.py
  rctab_infrastructure/utils.py
  tests/test_utils.py
Due: black, isort, pylint, pyright, pydocstyle

Update docs to reflect Azure TLS certificate changes
  .safety-policy.yml
  docs/content/deployment.md
  poetry.lock
Due: pymarkdown

Create SECURITY.md
  SECURITY.md
Due: pymarkdown

Update conf.py
  docs/conf.py
Due: black, isort, pydocstyle

Update deps
  poetry.lock
  pyproject.toml
Due: none

Update deps
  rctab_infrastructure/api.py
  rctab_infrastructure/database.py
  rctab_infrastructure/webapp.py
Due: black, isort, pylint, pyright, pydocstyle

Update deps
  .python-lint
  rctab_infrastructure/api.py
  rctab_infrastructure/database.py
  rctab_infrastructure/function_apps.py
  rctab_infrastructure/rctab_logging.py
  rctab_infrastructure/webapp.py
Due: black, isort, pylint, pyright, pydocstyle

WiP
  tests/test_utils.py
Due: black, isort, pylint, pyright, pydocstyle

Add db sku option
  rctab_infrastructure/api.py
  rctab_infrastructure/constants.py
  rctab_infrastructure/utils.py
  tests/test_utils.py
Due: black, isort, pylint, pyright, pydocstyle

Upgrade to postgres v18
  rctab_infrastructure/database.py
Due: black, isort, pylint, pyright, pydocstyle

api-user db privileges
  rctab_infrastructure/database.py
Due: black, isort, pylint, pyright, pydocstyle

Mention the --continue-on-error option to pulumi down
  docs/content/deployment.md
Due: pymarkdown

Document the db_sku_type option
  docs/content/deployment.md
Due: pymarkdown

Typo
  rctab_infrastructure/__main__.py
  rctab_infrastructure/webapp.py
Due: black, isort, pylint, pyright, pydocstyle

Use P0v3 app service plan.
  rctab_infrastructure/api.py
Due: black, isort, pylint, pyright, pydocstyle

Minor updates to our settings.
  rctab_infrastructure/constants.py
Due: black, isort, pylint, pyright, pydocstyle

Add DB updgrade steps to docs
  .github/workflows/pre-commit.yml
  .github/workflows/unit-tests.yml
  docs/conf.py
  docs/content/deployment.md
Due: black, isort, pydocstyle, pymarkdown

Split Safety into its own workflow
  .github/workflows/safety.yml
  .pre-commit-config.yaml
  .pre-commit-safety.yaml
Due: none

Explicit imports in docs
  docs/conf.py
Due: black, isort, pydocstyle

Invalidate the GitHub poetry cache
  poetry.lock
Due: none
