Repository alan-turing-institute/rctab-infrastructure: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, pyright, pydocstyle, pymarkdown

black:
  name: Black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

pylint:
  name: Pylint
  entry: poetry run pylint --rcfile=.python-lint
  language: system

pyright:
  name: pyright
  entry: poetry run pyright
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle --convention=google
  language: system

pymarkdown:
  name: PyMarkdown
  entry: poetry run pymarkdown --strict-config --config .pymarkdown.json scan
  language: system

Whitespace
  docs/content/deployment.md
Due: pymarkdown

Name of safety job
  .github/workflows/safety.yml
Due: none

Minor updates to our settings.
  rctab_infrastructure/constants.py
Due: black, isort, pylint, pyright, pydocstyle

Add db sku option
  rctab_infrastructure/api.py
  rctab_infrastructure/constants.py
  rctab_infrastructure/utils.py
  tests/test_utils.py
Due: black, isort, pylint, pyright, pydocstyle

Invalidate the GitHub poetry cache
  poetry.lock
Due: none

Update deps
  rctab_infrastructure/api.py
  rctab_infrastructure/database.py
  rctab_infrastructure/webapp.py
Due: black, isort, pylint, pyright, pydocstyle

WiP
  tests/test_utils.py
Due: black, isort, pylint, pyright, pydocstyle

Explicit imports in docs
  docs/conf.py
Due: black, isort, pydocstyle

Update deps
  poetry.lock
  pyproject.toml
Due: none

Mention the --continue-on-error option to pulumi down
  docs/content/deployment.md
Due: pymarkdown

Document the db_sku_type option
  docs/content/deployment.md
Due: pymarkdown

Add DB updgrade steps to docs
  .github/workflows/pre-commit.yml
  .github/workflows/unit-tests.yml
  docs/conf.py
  docs/content/deployment.md
Due: black, isort, pydocstyle, pymarkdown

Upgrade to postgres v18
  rctab_infrastructure/database.py
Due: black, isort, pylint, pyright, pydocstyle

Update deps
  .python-lint
  rctab_infrastructure/api.py
  rctab_infrastructure/database.py
  rctab_infrastructure/function_apps.py
  rctab_infrastructure/rctab_logging.py
  rctab_infrastructure/webapp.py
Due: black, isort, pylint, pyright, pydocstyle

Use P0v3 app service plan.
  rctab_infrastructure/api.py
Due: black, isort, pylint, pyright, pydocstyle

api-user db privileges
  rctab_infrastructure/database.py
Due: black, isort, pylint, pyright, pydocstyle

Typo
  rctab_infrastructure/__main__.py
  rctab_infrastructure/webapp.py
Due: black, isort, pylint, pyright, pydocstyle

Split Safety into its own workflow
  .github/workflows/safety.yml
  .pre-commit-config.yaml
  .pre-commit-safety.yaml
Due: none

Update export/import docs
  docs/content/deployment.md
Due: pymarkdown

Remove hard-coded UK South location
  rctab_infrastructure/api.py
  rctab_infrastructure/function_apps.py
  rctab_infrastructure/rctab_logging.py
Due: black, isort, pylint, pyright, pydocstyle

Update .readthedocs.yaml
  .readthedocs.yaml
Due: none

Use Postgres v17 database. Otherwise 'pulumi up' errors.
  rctab_infrastructure/database.py
Due: black, isort, pylint, pyright, pydocstyle

precommit fix
  rctab_infrastructure/constants.py
  rctab_infrastructure/function_apps.py
  rctab_infrastructure/utils.py
  tests/test_utils.py
Due: black, isort, pylint, pyright, pydocstyle

use billing profile id in fn apps setup
  rctab_infrastructure/constants.py
  rctab_infrastructure/function_apps.py
Due: black, isort, pylint, pyright, pydocstyle

poetry update
  poetry.lock
  pyproject.toml
Due: none

updated docs to reflect changes in config
  docs/content/deployment.md
  rctab_infrastructure/constants.py
Due: black, isort, pylint, pyright, pydocstyle, pymarkdown

Refactor Billing Profile Id logic for usage app settings
  rctab_infrastructure/function_apps.py
Due: black, isort, pylint, pyright, pydocstyle

Update docs to include both certificate files
  docs/content/deployment.md
Due: pymarkdown

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$, but not: docs/.*
  pyright: any of: \.py$, but not: docs/.*
  pydocstyle: any of: \.py$
  pymarkdown: any of: \.(md|markdown|mdown)$
